/**
 * Created by AlexSanborn on 4/10/2017.
 */
.THIS .hasError {
    color: red;
}
.THIS .noError {
    color: green;
}
.THIS .errorBox {
    border-top: 4px solid rgb(255, 0, 0);
    border-bottom: 4px solid rgb(255, 0, 0);
    border-left: 4px solid rgb(255, 0, 0);
    border-right: 4px solid rgb(255, 0, 0);

}
.THIS table td {
    white-space: normal;
}
.THIS tr.purchaseOrderRow {
    cursor: pointer;
}
.THIS .hidden {
    display: none;
}

.THIS .chargeback {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.THIS .chargeback:hover {
    background: #ddd;
    border: 1px solid #ccc;
    cursor: pointer;
}


