.THIS .hasError {
    color: red;
}
.THIS .noError {
    color: green;
}
.THIS .errorBox {
    border-top: 4px solid rgb(255, 0, 0);
    border-bottom: 4px solid rgb(255, 0, 0);
    border-left: 4px solid rgb(255, 0, 0);
    border-right: 4px solid rgb(255, 0, 0);
}
.THIS table td {
    white-space: normal;
}
.THIS tr.purchaseOrderRow {
    cursor: pointer;
}
.THIS .lineItems {
    display: table-row;
}
.THIS .lineItems > td {
    border: 3px solid;
    border-top: none;
}
.THIS .slds-backdrop, .THIS .slds-modal {
    opacity: 1;
    visibility: visible;
}
.THIS .address {
    width: 100%;
    text-align: left;
}
.THIS .addressError {
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    background: #ff5a5a;
}

.THIS .hidden {
    display: none;
}